:root{
    --text-color: 
}

.clan-bars{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.progress7{
    color: purple;
}

.math{
    border: 2px solid #F4DE6E;
    margin-top: 10%;
}

.classpictures {
    width: 100%;
    height: auto;
}

.cards{
    text-align: center;

}
.redbackground{
  background-color:#AA2525
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body{font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #458E45;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.d-block{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 50px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #458E45  ;
  color: white !important
}

.eventrainy {
  background: url(https://media0.giphy.com/media/3oz8xRTa6sxcMaswtW/source.gif) no-repeat center fixed; 
  background-size: cover;
}

.eventsunny {
  background: url(https://d2zp5xs5cp8zlg.cloudfront.net/image-10028-800.jpg) no-repeat center fixed; 
  background-size: cover;
}

.eventcloudy {
  background: url(https://media.mnn.com/assets/images/2018/08/CollectionOfCloudsAgainstABlueSky.jpg.653x0_q80_crop-smart.jpg) no-repeat center fixed; 
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-group-item{
  color:#70358C
}

.display-5,.staff{
  color:#D8784B
}

.display-6,.yoyo{
  color:#2A3593
}

.yoyo {
  color: white
}
.hi5{
  color:#70358C
}

.bodytext {
  font-size: 28px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.parallax { 
  /* The image used */
  background-image: url("https://www.thoughtco.com/thmb/NZ_NhT9hLXua7o1XY3VfaoN2SQE=/4901x2757/smart/filters:no_upscale()/group-of-school-kids-raising-hands-in-classroom-860597978-5ab59c403418c600365665f3.jpg");

  /* Set a specific height */
  height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 { 
  /* The image used */
  background-image: url("https://i.etsystatic.com/14058895/r/il/7289dd/1284073165/il_fullxfull.1284073165_tdv6.jpg");

  /* Set a specific height */
  height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 { 
  /* The image used */
  background-image: url("https://www.fourseasons.com/content/dam/fourseasons/images/web/NYF/NYF_1371_aspect16x9.jpg");

  /* Set a specific height */
  height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.think{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
}

.classroom{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
}

.student{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
}

.class{
  background-color: #454545;
  color: white;
}

.jumbotron{

}

#lightgrey {
  background-color: #DAE7F9;
}

#lightred {
  background-color: #FFD8CC;
}

.jumbotronclass{
  background-color: #f7e795;
}

#lightorange{
  background-color: #F7E6DE;
}

.darkyellow{
  color: #35342D;
}

.bodyhome{
  background-color: #F9F4FF;
}

.quotes{
  color: white;
}

.mascot{
  color: #70358C;
}
.fade {
  margin: 20px;
  padding: 20px;

  opacity: 1;
}

.purplebackground {
  background-color: #70358C;
}

.orangebackground {
  background-color: #D8784B;
}

.greenbackground{
  background-color:#458E45;
}

.bluebackground {
  background-color: #2A3593;
}

.yellowbackground {
  background-color: #F4DE6E;
}

.whitetext {
  color: white;
}

.clubs{
  margin: 100px;
  padding: 100px;
  background-color: #2A3593;
  color: white;
}

.dormlife{
  margin: 100px;
  padding: 100px;
  background-color: #AA2525;
  color: white;
}

.hrwhite {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
  }

.class1{
  position: relative;
  -webkit-animation-name: math;
  -webkit-animation-duration: 4s;
  animation-name: math;
  animation-duration: 6s;
}
.display-7{
  color:#AA2525
}

@keyframes math{
  0% {right:-100%}
  25%{right: 0px}
}

.class2{
  position: relative;
  -webkit-animation-name: science;
  -webkit-animation-duration: 4s;
  animation-name: science;
  animation-duration: 6s;
}

.navtitle {
  color: #EFCC90;
}

.subtitle {
  font-size: 35px;
}

.classtext {
  font-size: 40px
}

@keyframes science{
  0% {left:-100%}
  25%{left: 0px}
}

/* Add media queries for smaller screens */

@media screen and (max-width:1500px) {
  .weekdays li, .days li {width: 13.1%;}
  .bodytext{
    font-size: 27px;
  }
  .subtitle {
    font-size: 35npx;
  }
  .clubs{
    margin: 70px;
    padding: 70px;
  }
  
  .dormlife{
    margin: 70px;
    padding: 70px;
  }
  .classtext {
    font-size: 27px;
  }
}

@media screen and (max-width:1000px) {
  .weekdays li, .days li {width: 13.1%;}
  .bodytext{
    font-size: 25px;
  }
  .subtitle {
    font-size: 32npx;
  }
  .clubs{
    margin: 50px;
    padding: 50px;
  }
  
  .dormlife{
    margin: 50px;
    padding: 50px;
  }

  .classtext {
    font-size: 25px;
  }
}

@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
  .bodytext{
    font-size: 20px;
  }
  .subtitle {
    font-size: 28px;
  }
  .clubs{
    margin: 30px;
    padding: 30px;
  }
  
  .dormlife{
    margin: 30px;
    padding: 30px;
  }
  .classtext {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
  .bodytext{
    font-size:17px;
  }
  .subtitle {
    font-size: 25px;
  }
  .clubs{
    margin: 25px;
    padding: 25px;
  }
  
  .dormlife{
    margin: 25px;
    padding: 25px;
  }
  .classtext {
    font-size: 17px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
  .bodytext{
    font-size: 15px;
  }
  .subtitle {
    font-size: 20px;
  }

  .clubs{
    margin: 20px;
    padding: 20px;
  }
  
  .dormlife{
    margin: 20px;
    padding: 20px;
  }
  .classtext {
    font-size: 15px;
  }
} 
